.App {
  text-align: center;
  padding:0.5em;
  background-color: cadetblue;
}

.infoPanel
{
  
  padding: 10px;
  width:300px;
  border-radius: 4%;
}

.container {
  display: flex;
}

.logs{
  margin: 20px;
  padding: 20px;
  height: 300px;
  background-color: lightgray;
  overflow-y:auto;
  background-color:rgb(197, 197, 197);
  border-radius: 4%;
  
}
.log-item{
  margin-bottom: 2px;
  padding: 2px;
  display: flex;
  border-bottom: 2px dotted grey ;
  font-size: small;

  
}

.legal{
  color:rgb(15, 153, 15)
}

.illegal{
  color:rgb(206, 22, 22)
}


.inputs{
  margin: 10px;
}
